{% extends "base.html" %}
{% block content %}
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
                    <form action="{{ url_for('auth.password_reset', token=token) }}" method="post" accept-charset="utf-8" class="contact-form">
                        {{ form.hidden_tag() }}
                        <h2>password reset</h2>
                        <p>{{ form.new_password(class="form-control input-lg", placeholder="Password") }}</p>
                        {% for error in form.errors.password %}
                        <p style="color:red;">{{ error }}</p>
                        {% endfor %}
                        <p>{{ form.new_password2(class="form-control input-lg", placeholder="Password") }}</p>
                        {% for error in form.errors.password2 %}
                        <p style="color:red;">{{ error }}</p>
                        {% endfor %}
                        <p>{{ form.submit(class="btn btn-xlarge btn-clean-one") }}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}