{% extends "index.html" %}
{% block content %}
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>
                           
                            <div class="lead-image">
                                <img src="{{ blog.img }}" alt="" class="img-responsive">
                                
                            </div>
                        </header>
                        <div class="body">
                            <h1>{{ blog.title }}</h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> Yiwen <i class="fa fa-calendar"></i>{{ blog.gmt_create }}<i class="fa fa-comments"></i><span class="data"><a href="#comments">3 Comments</a></span>
                            </div>
                            <p>{{ blog.body }}</p>
                        </div>
                    </article>

                    <aside class="comments" id="comments">
                        <hr>

                        <h2><i class="fa fa-comments"></i> 6 Comments</h2>

                        <!--<article class="comment">-->
                            <!--<header class="clearfix">-->
                                <!--<img src="{{ url_for('static', filename='img/logopig.jpg') }}" alt="A Smart Guy" class="avatar">-->
                                <!--<div class="meta">-->
                                    <!--<h3><a href="#">John Doe</a></h3>-->
                                    <!--<span class="date">-->
                                        <!--24 August 2015-->
                                    <!--</span>-->
                                    <!--<span class="separator">-->
                                        <!-- - -->
                                    <!--</span>-->
                                    <!---->
                                    <!--<a href="#create-comment" class="reply-link">Reply</a>                -->
                                <!--</div>-->
                            <!--</header>-->
                             <!--<div class="body">-->
                               <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.-->
                            <!--</div>-->
                        <!--</article>-->

                        <!--<article class="comment reply">-->
                            <!--<header class="clearfix">-->
                                <!--<img src="{{ url_for('static', filename='img/logopig.jpg') }}" alt="A Smart Guy" class="avatar">-->
                                <!--<div class="meta">-->
                                    <!--<h3><a href="#">John Doe</a></h3>-->
                                    <!--<span class="date">-->
                                        <!--24 August 2015-->
                                    <!--</span>-->
                                    <!--<span class="separator">-->
                                        <!-- - -->
                                    <!--</span>-->
                                    <!---->
                                    <!--<a href="#create-comment" class="reply-link">Reply</a>                -->
                                <!--</div>-->
                            <!--</header>-->
                             <!--<div class="body">-->
                               <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.-->
                            <!--</div>-->
                        <!--</article>-->
                        {% for comment in comments %}
                        <article class="comment ">
                            <header class="clearfix">
                                <img src="{{ url_for('static', filename='img/logopig.jpg') }}" alt="A Smart Guy" class="avatar">
                                <div class="meta">
                                    <h3><a href="{{ url_for('main.user_profile', user_id=comment.user_id) }}">{{ comment.user_name }}</a></h3>
                                    <span class="date">
                                        {{ comment.gmt_create }}
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                              {{ comment.comment_content }}
                            </div>
                        </article>
                        {% endfor %}
                    </aside>

                    <aside class="create-comment" id="create-comment">
                        <hr>    

                        <h2><i class="fa fa-pencil"></i> Add Comment</h2>

                        <form action="{{ url_for('main.comment', blog_id=blog.id) }}" method="post" accept-charset="utf-8">
                            {{ comment_form.hidden_tag() }}
                            {{ comment_form.comment(rows="10", placeholder="Your Message", class="form-control input-lg") }}
                            <div class="buttons clearfix">
                                {{ comment_form.submit(class="btn btn-xlarge btn-clean-one") }}
                            </div>
                        </form>
                    </aside>
                </div>
                {% block aside %}
                {{ super() }}
                {% endblock %}
                <!--<aside class="col-md-4 blog-aside">-->
                    <!---->
                    <!--<div class="aside-widget">-->
                        <!--<header>-->
                            <!--<h3>Featured Post</h3>-->
                        <!--</header>-->
                        <!--<div class="body">-->
                            <!--<ul class="clean-list">-->
                                <!--<li><a href="">Clean - Responsive HTML5 Template</a></li>-->
                                <!--<li><a href="">Responsive Pricing Table</a></li>-->
                                <!--<li><a href="">Yellow HTML5 Template</a></li>-->
                                <!--<li><a href="">Blackor Responsive Theme</a></li>-->
                                <!--<li><a href="">Portfolio Bootstrap Template</a></li>-->
                                <!--<li><a href="">Clean Slider Template</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!---->
                    <!--<div class="aside-widget">-->
                        <!--<header>-->
                            <!--<h3>Related Post</h3>-->
                        <!--</header>-->
                        <!--<div class="body">-->
                            <!--<ul class="clean-list">-->
                                <!--<li><a href="">Blackor Responsive Theme</a></li>-->
                                <!--<li><a href="">Portfolio Bootstrap Template</a></li>-->
                                <!--<li><a href="">Clean Slider Template</a></li>-->
                                <!--<li><a href="">Clean - Responsive HTML5 Template</a></li>-->
                                <!--<li><a href="">Responsive Pricing Table</a></li>-->
                                <!--<li><a href="">Yellow HTML5 Template</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="aside-widget">-->
                        <!--<header>-->
                            <!--<h3>Tags</h3>-->
                        <!--</header>-->
                        <!--<div class="body clearfix">-->
                            <!--<ul class="tags">-->
                                <!--<li><a href="#">HTML5</a></li>-->
                                <!--<li><a href="#">CSS3</a></li>-->
                                <!--<li><a href="#">COMPONENTS</a></li>-->
                                <!--<li><a href="#">TEMPLATE</a></li>-->
                                <!--<li><a href="#">PLUGIN</a></li>-->
                                <!--<li><a href="#">BOOTSTRAP</a></li>-->
                                <!--<li><a href="#">TUTORIAL</a></li>-->
                                <!--<li><a href="#">UI/UX</a></li>                            -->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</aside>-->
            </div>
        </div>
    </div>
{% endblock %}
